
	    <div class="texte"><p>Bienvenue sur Quicksurvey, le site qui vous permet de créer vos enquêtes rapidement et gratuitement</p>
		</div>
		<div align="center" class="centre">
			<h3>Déjà inscrit? Identifiez vous!</h3>
			<div class="saisie">
			<label for="login">
				Login 
			</label>  
			<input name="pseudo" type="text" id="pseudo" /> <br />
			</div>
			<br>
			<div class="saisie">
			<label for="password">
				Mot de Passe 
			</label>
			<input type="password" name="password" id="password" /><br />
		</div>
			<p>
					<button class="btn btn-primary" ng-click="verificationCompte()" >Valider</button>

			</p>
			
		</div>
	    <h3>
			Vous Souhaitez vous inscrire?
		</h3>
		<div>
			<button class="btn btn-primary" ng-click="formulaireInscription()" >Je crée mon espace</button>

		</div>


	
	
