
				<div align="center" class="centre">
						<h3>
							Définition de la question
						</h3> <br />
						<h1>
								<input name="nom_enquete" type="text" id="name" placeholder="Rechercher une question" /> <br />
						</h1>
						<label for="libelle">
							Libellé :
						</label>
							<input type="text" name="libelle" id="libelle" /><br />
						<label for="type_rep">
							Type de Réponse :
						</label>
							<div class="typeReponse">
								<label for="champ">
									Champ
								</label>
								<input type="radio" name="champ" id="champ" value="Champ" />
								<label for="choix_simple">
									Choix simple
								</label>
								<input type="radio" name="choix_simple" id="choix_simple" value="" />

								<label for="choix_multiple">
									Choix multiple
								</label>

								<input type="radio" name="choix_multiple" id="choix_multiple" value="" />
							</div>

          <br />
						<p>
              <button id="save">Enregistrer</button>
              <br />
              <br />
              <button id="new">Nouvelle Question</button>
              <br />
              <br />
              <button id="define">Définir la cible</button>
						</p>

				</div>
