<div class="connect">
  <i ng-click="retour()">Retour</i>
</div>

<div id="global" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

			<h3 ng-if="!enqueteExiste">
				Définition d'une nouvelle enquête
			</h3>

     <h3 ng-if="enqueteExiste">
        Modification d'une enquête
     </h3>
  </br>

			<label for="name">
				Nom de l'enquête :
			</label>
			<input name="nom_enquete" ng-model="survey.label" type="text" id="name" /> <br />
  </br>

			<label for="date_debut">
				Date de début :
			</label>
      			<input type="date" ng-model="survey.dateStart" name="date_debut" id="date_debut" /><br />
  </br>

			<label for="date_fin">
				Date de fin :
			</label>
			<input type="date" name="date_fin" ng-model="survey.dateEnd" id="date_fin" /><br />
  </br>

        <button ng-if="!enqueteExiste" id="create" ng-click="creationEnquete()">Créer l'enquête</button>
        <button ng-if="enqueteExiste" id="modification" ng-click="modificationEnquete()">Modifier l'enquête</button>
  </br>
  </br>





		</div>



