<div id="global" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">

			<h3>
				Définition d'une nouvelle enquête
			</h3>
  </br>

			<label for="name">
				Nom de l'enquête :
			</label>
			<input name="nom_enquete" ng-model="survey.label" type="text" id="name" /> <br />
  </br>

			<label for="date_debut">
				Date de début :
			</label>
      			<input type="date" ng-model="survey.dateCreated" name="date_debut" id="date_debut" /><br />
  </br>

			<label for="date_fin">
				Date de fin :
			</label>
			<input type="date" name="date_fin" ng-model="survey.dateEnd" id="date_fin" /><br />
  </br>

        <button id="create" ng-click="creationQuestion()">Créer une question</button>
  </br>
  </br>

  <button id="list" ng-click="listeQuestions()">Liste des questions</button>



		</div>



