<div class="connect">
  <i ng-click="retour()">Retour</i>
</div>

				<div align="center" class="centre">

          <h3>
            {{survey.label}}
						</h3> <br />

          <div ng_repeat="question in questions ">
            <div class="question">
              <div class="libelleQuestion">
						<p>
							Question n°{{$index+1}} :
							<input class="libelleInput" ng-model="question.libelle" ng-if="question.libelle == undefined" type="text" name="libelle" id="libelle" />
                <input class="libelleInput" ng-model="question.libelle" ng-if="question.libelle != undefined" value="{{question.libelle}}">
            </p>
              </div>
              <div>
                <label>Type de réponse </label>
								<label>
									<input type="radio" ng-model="question.type"  ng-change="affichageNombreChoix(question)" value="libre" />
                  libre
                </label>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
                  <label>
  									<input type="radio"  ng-model="question.type" ng-change="affichageNombreChoix(question)" value="choix" />
                  choix
                  </label><br /><br />
                <div ng-if="question.choixActive" >
                  <div class="definitionChoix">
                  <label>
                  Nombre de choix possible :
                  <input class="nombreQuestion" type="text"  ng-change="affichageChoix(question)" ng-model="question.nombreChoix" />
                  </label>&nbsp&nbsp&nbsp
                  <label>Choix multiple :</label>
                  <input type="radio" ng-model="question.choixMultiple" value="true">oui
                  <input type="radio" ng-model="question.choixMultiple" value="false">non &nbsp&nbsp&nbsp
                    <label>Maximum réponse :</label>
                    <input class="nombreQuestion" type="text" ng-model="question.maxChoix" />&nbsp&nbsp&nbsp
                  <label>Avec saisie priorité :</label>
                  <input type="radio" ng-model="question.priorite" value="true">oui
                  <input type="radio" ng-model="question.priorite" value="false">non
                  </div>
                  <br />
                  <div ng-repeat="choix in question.choix">
                    <label>
                      Choix n°{{choix.numero}} :
                      <input type="text"  ng-model="choix.libelle" />
                    </label>
                  </div>
                </div>
                <div>

                </div>
              </div>
							</div>

            <br />
          </div>

          <br />
						<p>
              <button ng-click="ajouter()">Ajouter une Question</button>
              <br />
              <br />
              <button ng-click="enregistrer()">Enregistrer et Définir la cible</button>              <br />
              <br />
						</p>

				</div>
