<html>
		<head>
			<meta charset="utf-8" />
	        <link rel="stylesheet" href="styles/style.css" />
	        <title>Définition d'une réponse</title>
		</head>
		<body>
			
			<form method="post" action="" enctype="">
				<div align="center" class="centre">
					<fieldset>
						<h3>
							Définition de la réponse
						</h3> <br />
						<p>
								<label for="priorite">
									Avec priorité :
								</label>
								<input name="priorite" type="checkbox" id="priorite" /> 

								<h1>
									
										<input name="nombre_question" type="text" id="nombre_question" placeholder="Nombre de réponse" /> <br />
								</h1>		
								
								
						</p>		
									
									
							
								<label for="champ">
									Choix 1:
								</label>
								<input type="text" name="choix1" id="choix1" /><br />

								<label for="choix_simple">
									Choix 2: 
								</label>
								<input type="text" name="choix2" id="choix2" /><br />

								<label for="choix3">
									Choix 3: 
								</label>

								<input type="text" name="choix3" id="choix3" /><br />
							

						<p>
							<input type="submit" value="Enregistrer" id="save"/>
							<input type="submit" value="Retour" id="return"/>
						</p>

					</fieldset>
				</div>
			</form>
		</body>
</html>