<html>
	<head>
 		<meta charset="utf-8" />
        <link rel="stylesheet" href="styles/style.css" />
        <title>Connexion</title>
 	</head>
	<body>	
	<form method="post" action="" enctype="">
		
		<div align="center">
			<fieldset>	
				<h3>
					Créer mon espace
				</h3>
				<label for="login">
					Login :
				</label>  
				<input name="pseudo" type="text" id="pseudo" /> <br />
				
				<label for="email">
					Adresse Mail :
				</label>
				<input type="text" name="email" id="email" /><br />

				<label for="confirm_email">
					Confirmer Adresse Mail :
				</label>
			
				<input type="text" name="confirm_email" id="confirm_email" /><br />


				<label for="password">
					Mot de Passe :
				</label>
				<input type="password" name="password" id="password" /><br />
				
				<label for="confirm">
					Confirmer le mot de passe : 
				</label>
				<input type="password" name="confirm" id="confirm" /><br />
				<p>
					<input type="submit" value="Valider" />
				</p>
			</fieldset>
		</div>	
		
	</form>
	
	</body>
</html>
	
	
