
		<div>
				<h3>Créer mon espace</h3>
				<div>
				<label for="login">
					Login
				</label>
				<input name="pseudo" ng-model="user.login" type="text" id="pseudo" /> <br />
			    </div>
				<br>
				<div>
				  <label for="email">Adresse Mail </label>
				  <input type="text" ng-model="user.email" name="email" id="email" /><br />
			    </div>
				<br>
				<label for="confirm_email">
					Confirmer Adresse Mail
				</label>

				<input type="text" ng-model="user.confEmail" name="confirm_email" id="confirm_email" /><br />
				<br>

				<label for="password">
					Mot de Passe
				</label>
				<input type="password" ng-model="user.password" name="password" id="password" /><br />
				<br>
				<label for="confirm">
					Confirmer le mot de passe
				</label>
				<input type="password" ng-model="user.confPassword" name="confirm" id="confirm" /><br />
				<p>
					<button  ng-click="sauvegarder()">Enregistrer</button>
				</p>
		</div>





