<div class="connect">
  <i ng-click="retour()">Retour</i>
</div>

				<div align="center" class="centre">
						<h3>
              {{survey.label}}
						</h3> <br />

          <div ng_repeat="personne in personnes ">


								<label for="email">
									Email:
								</label>
            <input class="email" ng-model="personne.email" ng-if="personne.email == undefined" type="text" name="email" id="email" />
            <input class="email" ng-model="personne.email" ng-if="personne.email != undefined" value="{{personne.email}}">
            <br /><br />

          </div>
						<p>
              <button ng-click="ajouter()">Ajouter une personne</button><br /><br />
              <button ng-click="enregistrer()">Terminer l'enquête</button>

            </p>


        </div>
