<html>
		<head>
			<meta charset="utf-8" />
	        <link rel="stylesheet" href="styles/style.css" />
	        <title>Liste des sondés</title>
		</head>
		<body>
			
			<form method="post" action="" enctype="">
				<div align="center" class="centre">
					<fieldset>
						<h3>
							Liste des sondés
						</h3> <br />
											
							
								<label for="email">
									Email:
								</label>
								<input type="text" name="email" id="email" /><br />

								<label for="email">
									Email: 
								</label>
								<input type="text" name="choix2" id="email" /><br />

								<label for="email">
									Email: 
								</label>

								<input type="text" name="choix3" id="email" /><br />

								<input type="submit" name="add" id="add" value="+" /><br />
							

						<p>
							<input type="submit" value="Enregistrer l'enquête " id="save"/>
							<input type="submit" value="Retour" id="return"/>
						</p>

					</fieldset>
				</div>
			</form>
		</body>
</html>