<div class="connect">
  <i ng-click="deconnexion()">Déconnexion</i>
</div>

<div id="global">

  <div>
  <h1>Gerer vos enquêtes en ligne Gratuitement</h1>
  <div class="enquete">
  <div>
    <h3>Création d'une nouvelle enquête</h3>
    <button type="button" class="btn btn-outline-secondary" ng-click="creerNouvelleEnquete()">Créer une nouvelle enquête</button>
  </div>
  <br>
  <div>
      <h3>Modifier une enquête existante</h3>
    <select class="select" ng-model="enquete" ng-options="enquete.label for enquete in enquetes">
   </select>
    <button type="button" class="btn btn-outline-secondary" ng-click="afficherEnquete(enquete)">Afficher l'enquête</button>
</div>

</div>
</div>
</div>
